body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  #text-image{
    
    width: fit-content;
    height: fit-content;
	}    
	
	.image-height{
		height: 300px;
  }
  .image-style{
    border-radius: 8px;
  }
  .text-style{
    overflow: auto;
  }
  .centered{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  

